.card {
   background-color: $card-bg;
   border-radius: 1rem;
   display: grid;
   grid-template-columns: 40% 60%;
   grid-column-gap: 2rem;
   padding-right: 2rem;
   overflow: hidden;
   place-items: center start;
   width: 85%;
   max-width: 85%;

   .card__img {
      place-self: stretch;
   }
}
.card:last-of-type { margin-bottom: 0; }
.card__data {
   place-self: left;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   margin: 1em 0;
   .card__text {
      font-size: 1.2rem;
      margin: 0;
      margin-bottom: 1em;
   }
   .card__text:last-of-type {
      margin: 0;
   }
}
@include media(414px) {
   .card {
      font-size: 1.6rem;
      grid-column-gap: 3rem;
      padding-right: 3rem;
      .card__text {
         font-size: unset;
      }
   }
   .card__data {
         margin: 1em 0;
   }
};
