.search-bar {
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
}
.search-bar__bar {
   border: none;
   min-width: 70%;
   text-align: center;
   padding: 1rem;
   border-radius: 4rem 0 0 4rem;
   background-color: $search-bg;
   color: $text-col;
   font-size: 14px;
}
.search-bar__submit {
   border-radius: 0 50% 50% 0;
}
.search-bar__gallery {
   margin-left: 2rem;
}
@include media(768px) {
   .search-bar__bar {
      min-width: 90%;
      font-size: 25px;
      padding: 1.5rem;
   }
}
