.search-bar {
   display: flex;
   align-items: center;
   margin: 4rem 0 5rem 0;
   height: 3.6rem;
}
.search-bar__bar {
   border: none;
   min-width: 70%;
   text-align: center;
   padding: 1rem;
   border-radius: 4rem 0 0 4rem;
   background-color: $search-bg;
   color: $text-col;
   font-size: 14px;
   height: 100%;
}
.search-bar__submit {
   border-radius: 0 50% 50% 0;
   display: grid;
   place-content: center center;
   cursor: pointer;
   height: 100%;

   box-shadow: 0px 10px 7px -5px darken($search-bg, 10);
   -webkit-box-shadow: 0px 10px 7px -5px darken($search-bg, 10);
   -moz-box-shadow: 0px 10px 7px -5px darken($search-bg, 10);

   img {
      max-width: 70%;
   }
}
.search-bar__gallery {
   display: grid;
   place-content: center center;
   margin-left: 2rem;
   cursor: pointer;
   height: 100%;

   img {
      padding: .2rem;
      max-width: 70%;
      margin: 0 auto;
   }
}
.search-bar__submit:focus,
.search-bar__submit:hover,
.search-bar__gallery:focus,
.search-bar__gallery:hover {
   background-color: darken($search-bg, 3);
}

@include media(768px) {
   .search-bar {
      height: 6rem;
   }
   .search-bar__bar {
      min-width: 80%;
      font-size: 25px;
      padding: 1.5rem;
   }
   .search-bar__submit {
      img {
         margin: 0 1.7rem;
      }
   }
   .search-bar__gallery {
      img {
         padding: 1.5rem;
      }
   }
   .search-bar__submit,
   .search-bar__gallery {
      img {
         max-width: 100%;
      }
   }
}
